html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Alegreya Sans SC', sans-serif;
}

div.header{
    width: 100%;
    height: 15%;
    position: relative;
    background-color: #020A0D;
}

.divider { 
    display: block;
    margin: 0;
    height: 1px;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#C3E8BD), to(#C3E8BD), color-stop(50%, white));
}

.header span{
    position: absolute;
    top: 40px;
    left: 130px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.header .span1{
    color: white;
}

.header img{
    max-width: 75px;
    margin-left: 40px;
    position: absolute;
    top: 13px;
    display: block;
    cursor: pointer;
}

.header .logout{
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    left: 121px;
    float: right;
    width: 150px;
    height: 56px;
    color: black;
    background-color: white;
    cursor: pointer;
    box-shadow: -3px 5px 0 1px grey;
    transition: 0.2s cubic-bezier(.22,.29,.23,1.2);
} 

.header .logout span{
    position: relative;
    left: 18px;
    top: 18px;
}

.header .logout:hover{
    position: relative;
    left: 14px;
}

.header .logout:active{
    background-color: black;
    color: white;
    transition: none;
}

.content{
    position: relative;
    height: 84.8%;
    background-color: white;
}

p{
    display: inline-block;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(136, 136, 255);
    margin: 12px;
    margin-left: 30px;
}

button {
    border: 2px solid rgb(95, 95, 95);
    float: right;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    transition: background 1s cubic-bezier(.07,.82,0,.98), color 1s cubic-bezier(.07,.82,0,.98);
}

button:hover , #submit:hover{
    background-color: white;    
    color: rgb(95, 95, 95);
}

.cetak {
    border: 2px solid rgb(95, 95, 95);
    color: rgb(95, 95, 95);
    float: right;
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-right: 50px;
    cursor: pointer;
    background-color: white;    
    transition: background 1s cubic-bezier(.07,.82,0,.98), color 1s cubic-bezier(.07,.82,0,.98);
}

.cetak:hover {
    background-color: rgb(95, 95, 95);
    color: white;
}

#choice {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: bolder;
    width: 150px;
    margin-left: 30px;
    margin-right: 30px; 
    padding: 5px;
}

#choice option:nth-child(1){
    font-weight: bolder;
}

#submit {
    border: 2px solid rgb(95, 95, 95);
    font-family: 'Bai Jamjuree', sans-serif;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    cursor: pointer;
    background-color: rgb(95, 95, 95);
    transition: background 1s cubic-bezier(.07,.82,0,.98), color 1s cubic-bezier(.07,.82,0,.98);
}
.display {
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
}

.display div {
    float: left;
    width: 45%;
}

.display span {
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 20px;
}

.img{
    width: 100px;
}

.p{
    margin-top: 100px;
    position: relative;
}

.p span {
    position: absolute;
}

*:focus{
    outline: 0 !important;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: black;
}
